/* Przykładowe style globalne */
.cialo {
    
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: gray;
  }
  
  .lab7-container {
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    justify-items: center;
    min-height: 10vh;
    padding: 2rem;
  }
  
  .przycisk {
    background-color: #46494C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
  }
  
  .przycisk:hover {
    background-color: #45a049;
  }
  
  /* Dodatkowe style */
  .glowne {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    background-color: #C5C3C6;
  }
  
  .wejscie {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
  }
  
  .wejscie:focus {
    border-color: #4CAF50;
  }