/* nav.css */
.navbar {
    background-color: #333; /* Kolor tła paska */
    padding: 10px 20px; /* Odstęp wewnętrzny */
  }
  
  .nav-list {
    display: flex; /* Używamy flexbox do rozmieszczania elementów */
    justify-content: space-around; /* Rozstawiamy elementy równomiernie */
    list-style: none; /* Usuwamy domyślne kropki listy */
    margin: 0; /* Usuwamy margines */
    padding: 0; /* Usuwamy wypełnienie */
  }
  
  .nav-list li {
    margin: 0 10px; /* Odstęp między elementami */
  }
  
  .nav-list a {
    text-decoration: none; /* Usuwamy podkreślenie */
    color: white; /* Kolor tekstu */
    font-size: 18px; /* Rozmiar czcionki */
    padding: 5px 10px; /* Odstęp wewnętrzny dla przycisków */
    border-radius: 5px; /* Zaokrąglenie rogów */
    transition: background-color 0.3s; /* Animacja zmiany tła */
  }
  
  .nav-list a:hover {
    background-color: #555; /* Kolor tła przy najechaniu */
  }
  .Strona1{
    text-align: center;
    font-size: 20px;;
    background-color: #E2711D;
    min-height: 100vh;
    margin: 0;
  }